h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ========= MOBILE HEADER STYLES ========== */

.header-ul, .header-adress-ul {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span-studio {
    color: #2E2F42;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    line-height: 0;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ========= /MOBILE HEADER STYLES ========== */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

/* ========= TABLET  HEADER STYLES ========== */

/* ========= /TABLET HEADER STYLES ========== */
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }


/* ========= DESKTOP HEADER STYLES ========== */

/* ========= /DESKTOP HEADER STYLES ========== */
}
